* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #6a1b9a, #8e24aa);
    color: #fff;
    line-height: 1.6;
    /* atas kanan bawah kiri */
    margin: 0 15% 0 15%;
    background-position: center;
    background-size: cover;
    background-image: url(Equestria.jpg);
    background-attachment: fixed;
    scroll-behavior: smooth;
}



.card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    overflow: hidden;
}

.card {
    text-align: center;
    margin-bottom: 20px;
}

.card h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #ffca28;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card h2 {
    color: #ffca28;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 15px;
    font-size: 1.1em;
    color: #e1bee7;
}

.satu {
    color: #ff69b4; 
    font-style: italic; 
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #d1c4e9;
}

nav {
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    margin-top: 5px;
    margin-bottom: 10px;
}

nav h1 {
    margin-right: 12.5rem;
    margin-left: 2rem;
    color: white;
}

nav ul li {
    display: inline;
    margin-right: 2rem;
    width: fit-content;
}

nav ul li a {
    color: white;
    text-decoration: none;
}